@font-face {
	font-family: "DejaVuSansMono";
	src: url("DejaVuSansMono.ttf") format("truetype");
}
::selection {
	background-color: white;
	color: black;
}

body {
	font-family: DejaVuSansMono;
	background-color: black;
	color: white;
}

p {
	margin: 4px 0;
}

.show_box {
	text-align: left;
	font-size: 9px;
	font-weight: 300;
	width: 60%;
	min-width: 630px;
}
.command_box {
	text-align: left;
	font-size: 9px;
	font-weight: 300;
}
.command_box #buoy{
	background-color: #00ff0a;
}
.song_info {
	text-align: left;
	font-size: 9px;
	font-weight: 300;
	left: 60%;
	top: 4px;
	position: fixed;
	width: 420px;
	height: 56px;
	overflow: hidden;
	min-width: 420px;
}
.song_info .song_info-border .song_name {
	overflow: hidden;
    height: 16px;
    white-space: nowrap;
}
@media all and (max-width: 1050px) {
    .song_info {
        left: 630px;
    }
}

#input_hidden {
	opacity: 0;
	position: fixed;
	width: 0px;
	height: 0px;
}